body {
  margin: 0;
  overflow: hidden;
  font-family: monospace;
  color: #00ff00;
}

/* ماتریکس */
#matrix {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 0;
}

/* لاگین */
#lockScreen {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
}

#lockScreen input {
  background: black;
  border: 1px solid #00ff00;
  color: #00ff00;
  padding: 10px;
  font-size: 18px;
}

/* ترمینال */
.overlay {
  position: relative;
  z-index: 1;
  padding: 20px;
}

.hidden {
  display: none;
}

#terminal {
  white-space: pre-line;
  min-height: 80vh;
}

#input-line {
  display: flex;
}

#commandInput {
  background: transparent;
  border: none;
  outline: none;
  color: #00ff00;
  width: 100%;
}

/* glitch */
.glitch {
  animation: glitch 0.2s infinite;
}

@keyframes glitch {
  0% {transform: translate(0);}
  25% {transform: translate(2px,-2px);}
  50% {transform: translate(-2px,2px);}
  75% {transform: translate(2px,2px);}
  100% {transform: translate(0);}
}
